template(name="timeseries")
  h3.cntr Bike Number #{timeseries.Bike} on Day: #{timeseries.MM}, #{timeseries.DD}, #{timeseries.YYYY}
  table.data-set
    //- Labels Row
    tr
      td this
      td User
      td Lat
      td Long
    //- every recording of bike __ at noon (i.e. 12 am) on above date
    each timeseries.Time
      each this
        tr
          td #{this}
          td #{User}
          td #{Lat}
          td #{Long}