template(name='RackPanel')
  .template-home
    h1 Every Rack
    button.flat#DeleteRacks Delete Racks
    //- button.flat#RepopulateDailyBikeData Repopulate Daily BikeData
    //- button.flat#CreateBike CreateBike
  //- table.table.table-hover.table-condensed
  table.table.table-condensed
    thead
      //- Labels Row
      tr
        th _id
        th OBJECTID
        th RackName
        th Rack_Capac
        th Bldg_Name
        th Availability
        //- th Delete
        //- th Color

    tbody.wrapper
      each RackPanel
        tr(class="#{Day}").animate.item
          td #{_id}
          td #{attributes.OBJECTID}
          td #{attributes.RackName}
          td #{attributes.Rack_Capac}
          td #{attributes.Bldg_Name}
          td #{Availability}
          //- td
          //-   button.flat#DeleteBike(value=_id) Del
          //- td
          //-   button.flat#ChangeHighlight(value="#{Day}") ◉
