template(name='RFIDlayout')
  .template-home
    .page-header
      h1 RFID Demo
      h4 Data displayed below came from an Arduino through Xbee then maybe even a raspberry p.
      button#DeleteOldRFID Delete Old RFID Data
  table.table.table-hover.table-condensed
    thead
      //- Labels Row
      tr
        th USER_ID
        th LATITUDE
        th LONGITUDE
        th LOCKSTATEE
        th Kyle's Decision
        th TIMESTAMP
        th Delete
    tbody
      each RFIDlayout
        tr
          td #{USER_ID}
          td #{LATITUDE}
          td #{LONGITUDE}
          td #{LOCKSTATEE}
          td #{confirmation}
          td #{TIMESTAMP}
          td
            button#DeleteRFID(value=_id) Delete Me