template(name='RFIDlayout')
  .template-home
    .page-header
      h1 Xbee Data Reference Table
  table.table.table-hover.table-condensed
    thead
      //- Labels Row
      tr
        th Name
        th ID
        th Address
    tbody
      each XbeeLayout
        tr.RFIDrow
          td #{Name}
          td #{ID}
          td #{Address}

  .template-home
    h1 Real Time RFID Info
    h4 Collected from end device, sent over Xbee, and piped up to this database by a raspberry pi running a minimal Node.JS application
    button#DeleteOldRFID Delete Old RFID Data
    button#CreateRFID Make New RFID Data
  //- table.table.table-hover.table-condensed
  table.table.table-condensed
    thead
      //- Labels Row
      tr
        th USER_ID
        th LATITUDE
        th LONGITUDE
        th LOCKSTATEE
        th Module_ID
        th Kyle's Decision
        th TIMESTAMP
        th Delete
        th Color

    tbody.wrapper
      each RFIDlayout
        tr(class="#{TIMESTAMP}").animate.item
          td #{USER_ID}
          td #{LATITUDE}
          td #{LONGITUDE}
          td #{LOCKSTATEE}
          td #{Module_ID}
          td #{confirmation}
          td #{TIMESTAMP}
          td
            button#DeleteRFID(value=_id) Del
          td
            button#ChangeHighlight(value="#{TIMESTAMP}") ◉
