//- +sAlert
+navTop
+navMobile

//- main(class="{{ isActiveRoute regex='about' }}")
main.main-content
	+momentum(plugin='flow-router')
		+Template.dynamic template=full

//- //- Cody house panels -> left was moved to its own template
//- .cd-panel.from-left
//- 	header.cd-panel-header
//- 		+Template.dynamic template=slideInPanelTitle_Left
//- 		a.cd-panel-close(href='#0') Close

//- 	.cd-panel-container
//- 		.cd-panel-content
//- 			+Template.dynamic template=slideInPanelContent_Left

.cd-panel.from-right
	header.cd-panel-header
		+Template.dynamic template=slideInPanelTitle
		a.cd-panel-close(href='#0') Close

	.cd-panel-container
		.cd-panel-content
			+Template.dynamic template=slideInPanelContent
