//- template(name='admin3layout')
//-   .template-home
//-     .page-header
//-       h1 Admin 3
//-   if ViewUsersFunc
//-     button.seeLess See Less
//-   if ViewUsersFunc
//-     table.table.table-hover.table-condensed
//-       thead
//-         //- Per user history
//-         tr
//-           th timestamp
//-           th User
//-           th Lat
//-           th Lng
//-       tbody
//-         each admin3layout
//-           tr
//-             td {{formatDate timestamp "short"}}
//-               //- Only works with {{ }} and not #{}
//-             td #{user}
//-             td #{lat}
//-             td #{lng}
//-   else
//-     table.table.table-hover.table-condensed
//-       thead
//-         //- Labels Row
//-         tr
//-           th bike
//-           th status
//-           th &nbsp;
//-       tbody
//-         each admin3layout
//-           tr
//-             td #{bike}
//-             td #{status}
//-             td
//-               button.seeMore See More