template(name='UniversalLayout')
	+sAlert
	+NavTop
	//- +contentWrapper
	.navSpacing
	main.cd-main-content
		.container
			+momentum(plugin='flow-router')
				+Template.dynamic template=body

	//- Cody house panels -> left was moved to its own template
	//- .cd-panel.from-left
	//- 	header.cd-panel-header
	//- 		+Template.dynamic template=Slide_In_Panel_Title_Left
	//- 		a.cd-panel-close(href='#0') Close

	//- 	.cd-panel-container
	//- 		.cd-panel-content
	//- 			+Template.dynamic template=Slide_In_Panel_Content_Left

	.cd-panel.from-right
		header.cd-panel-header
			+Template.dynamic template=Slide_In_Panel_Title
			a.cd-panel-close(href='#0') Close

		.cd-panel-container
			.cd-panel-content
				+Template.dynamic template=Slide_In_Panel_Content

//- template(name='UniversalLayout')
//- 	+sAlert
//- 	+NavTop
//- 	//- +contentWrapper
//- 	.navSpacing
//- 	.container
//- 		+momentum(plugin='flow-router')
//- 			+Template.dynamic template=body