template(name='admin2layout')
  .template-home
    .page-header
      h1 Admin 2
  if ViewUsersFunc
    button.seeLess See Less
  if ViewUsersFunc
    table.table.table-hover.table-condensed
      thead
        //- Per user history
        tr
          th bike
          th timestamp
          th User
          th Lat
          th Lng
      tbody
        each admin2layout
          tr
            td #{bike}
            td {{formatDate timestamp "short"}}
            //- td #{timestamp}
            td #{user}
            td #{lat}
          td #{lng}
  else
    table.table.table-hover.table-condensed
      thead
        //- Labels Row
        tr
          th ID
          th User
          th rides
          th &nbsp;
      tbody
        each admin2layout
          tr
            td #{_id}
            td #{user}
            td #{rides}
            td
              button.seeMore See More