template(name='bikesList')
  .mechanic-info
      //- Foudnation demo form with more advanced features
      //- form
        //- .row
        //-   .large-12.columns
        //-     label Input Label
        //-       input(type='text', placeholder='large-12.columns')
        //- .row
        //-   .large-4.columns
        //-     label Input Label
        //-       input(type='text', placeholder='large-4.columns')
        //-   .large-4.columns
        //-     label Input Label
        //-       input(type='text', placeholder='large-4.columns')
        //-   .large-4.columns
        //-     .row.collapse
        //-       label Input Label
        //-       .small-9.columns
        //-         input(type='text', placeholder='small-9.columns')
        //-       .small-3.columns
        //-         span.postfix .com
        //- .row
        //-   .large-12.columns
        //-     label Select Box
        //-       select
        //-         option(value='husker') Husker
        //-         option(value='starbuck') Starbuck
        //-         option(value='hotdog') Hot Dog
        //-         option(value='apollo') Apollo
          //- .large-6.columns
          //-   label Check sort order
          //-   input#ascBox(type='checkbox')
          //-   label(for='ascBox') ascBox
          //-   input#descBox(type='checkbox')
          //-   label(for='descBox') descBox
        //- .row
        //-   .large-12.columns
        //-     label Textarea Label
        //-       textarea(placeholder='small-12.columns')
        //- Testing Foundation switches, none work...
        //- .row
        //-   .large-2.columns
        //-     .switch
        //-       input#exampleCheckboxSwitch(type="checkbox")
        //-       label(for="exampleCheckboxSwitch") this should be a radio switch....
        //-   .large-2.columns
          //-   .switch.small
          //-       input#exampleRadioSwitch1(type='radio', checked='', name='testGroup')
          //-       label(for='exampleRadioSwitch1')
        //-   .large-2.columns
          //-   .switch.radius
          //-     input#exampleRadioSwitch2(type='radio', name='testGroup')
          //-     label(for='exampleRadioSwitch2')
        //-   .large-2.columns
          //-   .switch.round.large
          //-     input#exampleRadioSwitch3(type='radio', name='testGroup')
          //-     label(for='exampleRadioSwitch3')


    form
      .row
        .large-3.columns
          label Choose Bike to Display
          input(type="number" autocomplete="off" autofocus="true" name="BikeNumber" placeholder="1")
        .large-3.columns
          label Choose sortType
          input(type="text" list="sortTypeOptions" name='sortType',placeholder='timestamp')
          datalist(id="sortTypeOptions")
            each sortType
              option #{this}
              //- option(label="midpoint") Thirty
        .large-3.columns
          label Select Partslist
          //- input(type="text" list="mechanicSelect" name='mechanicSelected')
          //- datalist(id="mechanicSelect")
            //- each mechanicName
            //-   option #{this}
              //- option(label="midpoint") Thirty
        .large-3.columns
          label Select Mechanic
          input(type="text" list="mechanicSelect" name='mechanicSelected')
          datalist(id="mechanicSelect")
            each mechanicName
              option #{name}
              //- option(label="midpoint") Thirty
      .row
        .large-4.columns
          label Choose sortOrder
          input#ascRadio(type='radio', name='sortOrder', value='asc')
          label(for='ascRadio') ascRadio
          input#descRadio(type='radio', name='sortOrder', value='desc' checked)
          label(for='descRadio') descRadio
      .row
        .large-2.columns
          input(type="submit" value="Submit")
    .row
      .large-12.columns
        hr
        p show only by positional area (i.e. in shop, outside of shop
      //- input(type="range" min="0" max="100" list="numbers")
      //- input(type="number" min="0" max="100" list="numbers")
      //- datalist(id="numbers")
      //-   option 10
      //-   option(label="30") 30
      //-   option(label="midpoint") 50
      //-   option 7
      //-   option 90
  table.data-set
    //- Labels Row
    tr
      td timestamp
      td status
      td mechanicNotes
      td partslist
      td mechanic
      td role
      td.pos lat
      td.pos lng
    //- Actual Bike Data
    each bikes
      tr
        td {{formatDate timestamp "short"}}
        //- td {{formatDate timestamp "shortest"}}
        td #{status}
        td #{mechanicNotes}
        td #{partslist}
        td #{mechanic}
        td #{role}
        td.pos #{lat}
        td.pos #{lng}