template(name='users')
  .template-home
    .page-header
      h1 Users
    //- .panel.panel-default
      //- .panel-heading Test Heading
    //- .table-responsive
    table.table.table-hover.table-condensed
      //- Per user history
      thead
        tr
          th #
          th _id
          th RFID
          th address
          th profile.name
          th createdAt
          th roles
          //- th verified
          //- th UID
          //- th gender
          //- th handlebars
          //- th name
          //- th username
          //- th snack
          //- th password.bcrypt
      tbody
        each users
          tr
            td #{listIndex}
            td #{_id}
            td #{RFID}
            each emails
              td #{address}
            td #{profile.name}
            td #{createdAt}
            td #{roles}
              //- td #{verified} // Blank, but should be false?
            //- td #{users.UID}
            //- td #{users.gender}
            //- td #{users.handlebars}
            //- td #{users.name}
            //- td #{username}
            //- td #{users.snack}
            //- td #{services.password.bcrypt}