template(name='ManageUsers')
	//- a#NavSide-toggle.btn.btn-default(href='#NavSide-toggle')
	//- 	i.fa.fa-bars
	//- .container.toggled
	.page-header
		h1 ManageUsers
		p DailyBikeData Top-Level Data
	+tabular table=TabularTables.ManageUsers selector=currentSelector class="table table-striped table-hover table-bordered table-condensed" id="ManageUsers"
	//- +quickForm collection="Meteor.users" doc=SelectedRow id="updateMeteorUsersForm" type="update"

//- template(name='LinkToSpecificUser')
//-   button.btn.btn-xs.FLOWGO(type='button') Link

template(name='CurrentUser_Form')
	table.table.table-hover.table-condensed
		//- Labels Row
		thead
			tr
				th Name
				th createdAt
				th Email Address
				th Roles
		//- Actual Bike Data
		tbody
			each UserFact
				tr
					td {{profile.name}}
					td {{formatDate createdAt "shortest"}}
					td {{emails.[0].address}}
					td #{roles}
					//- NOTE: Need the double {{ }}
					//- otherwise the [0] and formatDate won't work

template(name='ManageUsers_Form_Title')
	h1.cd Change User Information

template(name='ManageUsers_Form')
	//- a#NavSide-toggle.btn.btn-default(href='#NavSide-toggle')
	//- 	i.fa.fa-bars
	//- .container.toggled
	.page-header
		+CurrentUser_Form
	//- +quickForm collection="Meteor.users" doc=SelectedRow id="updateMeteorUsersForm" type="update"
	+autoForm collection="Meteor.users" doc=SelectedRow id="updateMeteorUsersForm" type="update"
		fieldset
			legend Update Selected User Info:
			+afQuickField name='profile.name'
			+afQuickField name='emails'
			+afQuickField name='roles'
		button.btn.btn-primary(type='submit') Update